params {
    // These four "coordinates" locate the data and results for one session.
    data_root = System.getenv('DATA_ROOT') ?: "/vol/cortex/cd4/geffenlab/data/"
    analysis_root = System.getenv('ANALYSIS_ROOT') ?: "/vol/cortex/cd4/geffenlab/analysis/"
    subject = System.getenv('SUBJECT_ID') ?: "AS20-minimal2"
    date = System.getenv('DATE') ?: "03112025"

    // Organize data in and analysis out by subject and date.
    data_path = "${params.data_root}/${params.subject}/${params.date}"
    analysis_path = "${params.analysis_root}/${params.subject}/${params.date}"

    // Use 10 CPU cores at a time -- not all of them!
    n_jobs = 10

    // Use up to 64GB of memory at a time -- not all of it!
    memory = '64 GB'

    // Choose whether to do interactive Phy curation or not:
    // interactive = '--interactive'
    // or
    // interactive = '--no-interactive'
    interactive = '--interactive'

    // Which probe should CatGT and TPrime look for?
    probe_id = 'imec0'

    // Which SpikeGLX recording should CatGT look for?
    catgt_run = 'AS20_03112025_trainingSingle6Tone2024_Snk3.1'
    catgt_gate = 0
    catgt_trigger = 0

    // Should CatGT look for Neuropixels plus NIDQ ('-ap -ni') or just Neuropixels ('-ap')?
    catgt_streams = '-ap -ni'

    // Should CatGT expect OneBox ('-obx=0') or not (empty '')?
    catgt_onebox = ''

    // Which event channels should CatGT try extract?
    catgt_events = '-xa=0,0,0,1,3,500 -xia=0,0,1,3,3,0 -xd=0,0,8,3,0 -xid=0,0,-1,2,1.7 -xid=0,0,-1,3,5'

    // Specify any other CatGT command arguments.
    // Since we're not using CatGT to filter the binary, we need -no_tshift.
    catgt_misc = '-no_tshift -prb_fld -out_prb_fld'

    // Our CatGT Python wrapper takes the probe_id, gate, and trigger as separate args.
    // All the other CatGT args go together here.
    catgt_args = "${params.catgt_run} ${params.catgt_streams} ${params.catgt_onebox} ${params.catgt_events} ${params.catgt_misc}"

    // What sync pulse period should TPrime expect?
    tprime_sync_period = 1.0

    // What stream of sync events should TPrime convert to?
    // This pattern must match a sync event .txt file produced by CatGT.
    tprime_to_stream = "exported/catgt/*/*/*${params.probe_id}.ap.*.txt"

    // Which other event streams should TPrime convert to the stream above?
    // Each pattern below must match an event .txt file produced by CatGT.
    // The patterns on the left are for sync events on a stream.
    // The patterns on the right are for other events on the same stream, to convert to the "to stream".
    tprime_from_map = [
        "exported/catgt/*/*nidq.xd_8_4_500.txt": "exported/catgt/*/*nidq.xa_0_500.txt",
        "exported/catgt/*/*nidq.xd_8_4_500.txt": "exported/catgt/*/*nidq.xia_1_0.txt",
        "exported/catgt/*/*nidq.xd_8_4_500.txt": "exported/catgt/*/*nidq.xd_8_3_0.txt",
        "exported/catgt/*/*nidq.xd_8_4_500.txt": "exported/catgt/*/*nidq.xid_8_2_1p7.txt",
        "exported/catgt/*/*nidq.xd_8_4_500.txt": "exported/catgt/*/*nidq.xid_8_3_5.txt",
    ]

    // Format these "from streams" in the way our TPrime Python wrapper expects.
    tprime_from_streams = params.tprime_from_map.collect { sync, other -> "${sync}:${other}" }.join(' ')

    // Our TPrime Python wrapper can convert sorted spike times in the Phy folder as well.
    // Which text file contains the probe sync events produced by GatGT?
    tprime_phy_from_stream = "exported/catgt/*/*/*${params.probe_id}.ap.*.txt"

    // Which converted event times should our synthesis step copy into the Phy folder as "events.csv?"
    // This pattern must match a sync event .txt file produced by TPrime.
    converted_event_times = "exported/tprime/*/*nidq.xd_8_3_0.txt"
}

// Run processes locally (not on AWS, SLURM, etc.)
process {
    executor = 'local'
    cpus = params.n_jobs
    memory = params.memory
}

// Run each process in a Docker container, as the current user (not as root).
docker {
    enabled = true

    // Run the container as the current user and group.
    // Expose X-related files to the container.
    // Expose the X DISPLAY variable to the container.
    // Let the container do networking like the host, so it can access display sockets via tcp if needed.
    runOptions = '-u $(id -u):$(id -g) -v /tmp/.X11-unix:/tmp/.X11-unix -v $HOME/.Xauthority:/var/.Xauthority -e DISPLAY=$DISPLAY -e XAUTHORITY=/var/.Xauthority --network=host'
}

dag {
    enabled = true
    file = params.analysis_path + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = params.analysis_path + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = params.analysis_path + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = params.analysis_path + '/nextflow/trace.txt'
    overwrite = true
}
