// Choose config parameters from the environment or defaults.
params {
    data_path = System.getenv('DATA_PATH') ?: "data"
    analysis_path = System.getenv('ANALYSIS_PATH') ?: "analysis"
    interactive = '--interactive'
    //interactive = '--no-interactive'
}

// Run processes locally (not on AWS, SLURM, etc.)
process {
    executor = 'local'
    cpus = 16
    memory = '24 GB'
}

// Run each process in a Docker container, as the current user (not as root).
docker {
    enabled = true

    // Run the container as the current user and group.
    // Expose X-related files to the container.
    // Expose the X DISPLAY variable to the container.
    // Let the container do networking like the host, so it can access display sockets via tcp if needed.
    runOptions = '-u $(id -u):$(id -g) -v /tmp/.X11-unix:/tmp/.X11-unix -v $HOME/.Xauthority:/var/.Xauthority -e DISPLAY=$DISPLAY -e XAUTHORITY=/var/.Xauthority --network=host'
}

dag {
    enabled = true
    file = params.analysis_path + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = params.analysis_path + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = params.analysis_path + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = params.analysis_path + '/nextflow/trace.txt'
    overwrite = true
}
