// Choose config parameters from the environment or defaults.
params {
    data_path = System.getenv('DATA_PATH') ?: "data"
    analysis_path = System.getenv('ANALYSIS_PATH') ?: "analysis"
}

// Run processes locally (not on AWS, SLURM, etc.)
process {
    executor = 'local'
    cpus = 16
    memory = '24 GB'
}

// Run each process in a Docker container, as the current user (not as root).
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
