params {
    // These four "coordinates" locate the data and results for one session.
    data_root = System.getenv('DATA_ROOT') ?: '/vol/cortex/cd4/geffenlab/data'
    analysis_root = System.getenv('ANALYSIS_ROOT') ?: '/vol/cortex/cd4/geffenlab/analysis'
    subject = System.getenv('SUBJECT_ID') ?: 'AS20-minimal2'
    date = System.getenv('DATE') ?: '03112025'

    // Organize data in and analysis out by subject and date.
    data_path = "${params.data_root}/${params.subject}/${params.date}"
    analysis_path = "${params.analysis_root}/${params.subject}/${params.date}"

    ecephys_path = "${params.data_path}/ecephys/"
    results_path = "${params.analysis_path}/sorted/"

    // Use 10 CPU cores at a time -- not all of them!
    n_jobs = 10

    // Use up to 64GB of memory at a time -- not all of it!
    memory = '64 GB'

    // Choose default parameters for several pipeline steps.
    job_dispatch_args = '--input spikeglx'
    preprocessing_args = '--motion compute --min-duration-for-preprocessing 10'
    nwb_ecephys_args = '--skip-lfp'

    // Choose the default GPU to use for spike sorting.
    // The value like "3" may be a GPU index number or ID string, as from "nvidia-smi -L"
    // The value can be specified on the nextflow command line with --gpu_device <index_or_id>.
    gpu_device = 3

    // Specify spike sorter configuration as JSON.
    // The Kilosort4 settings are documented here:
    //  https://kilosort.readthedocs.io/en/latest/parameters.html
    sorter = 'kilosort4'
    spikesorting_args = """--params '{
        "job_kwargs": {
            "chunk_duration": "1s",
            "progress_bar": false
        },
        "skip_motion_correction": false,
        "min_drift_channels": 96,
        "raise_if_fails": true,
        "clear_cache": false,
        "sorter": {
            "batch_size": 60000,
            "nblocks": 5,
            "Th_universal": 9,
            "Th_learned": 8,
            "do_CAR": true,
            "invert_sign": false,
            "nt": 61,
            "shift": null,
            "scale": null,
            "artifact_threshold": null,
            "nskip": 25,
            "whitening_range": 32,
            "highpass_cutoff": 300,
            "binning_depth": 5,
            "sig_interp": 20,
            "drift_smoothing": [
                0.5,
                0.5,
                0.5
            ],
            "nt0min": null,
            "dmin": null,
            "dminx": 32,
            "min_template_size": 10,
            "template_sizes": 5,
            "nearest_chans": 10,
            "nearest_templates": 100,
            "max_channel_distance": null,
            "templates_from_data": true,
            "n_templates": 6,
            "n_pcs": 6,
            "Th_single_ch": 6,
            "acg_threshold": 0.2,
            "ccg_threshold": 0.25,
            "cluster_downsampling": 20,
            "x_centers": null,
            "duplicate_spike_ms": 0.25,
            "save_preprocessed_copy": false,
            "torch_device": "auto",
            "bad_channels": null,
            "clear_cache": false,
            "save_extra_vars": false,
            "do_correction": true,
            "keep_good_only": false,
            "skip_kilosort_preprocessing": false,
            "use_binary_file": null,
            "delete_recording_dat": true
        }
    }'"""
 }

env {
    // Some pipeline code uses these environment variables explicitly (as opposed to using params).
    DATA_PATH=params.ecephys_path
    RESULTS_PATH=params.results_path
}

process {
    debug = true
    executor = 'local'
    cpus = params.n_jobs
    memory = params.memory
    containerOptions = "--env CO_CPUS=${params.n_jobs} --shm-size=4g"

    // change max forks for specific processes to allow multiple forks
    withName: preprocessing {
        maxForks = 1
    }
    withName: spikesort_kilosort4 {
        maxForks = 1
        containerOptions = params.gpu_device == "none" ? "" : "--gpus 'device=${params.gpu_device}'"
    }
    withName: spikesort_kilosort25 {
        maxForks = 1
        containerOptions = params.gpu_device == "none" ? "" : "--gpus 'device=${params.gpu_device}'"
    }
    withName: spikesort_spykingcircus2 {
        maxForks = 1
    }
    withName: postprocessing {
        maxForks = 1
    }
    withName: quality_control {
        maxForks = 1
    }
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = "--volume ${params.ecephys_path}:/tmp/data"
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_API_KEY']
}

dag {
    enabled = true
    file = "${params.analysis_path}/sorted/nextflow/dag.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.analysis_path}/sorted/nextflow/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.analysis_path}/sorted/nextflow/timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.analysis_path}/sorted/nextflow/trace.txt"
    overwrite = true
}
