params {
    // These are "coordinates" that locate processed data or analysis results for a session.
    raw_data_root = System.getenv('RAW_DATA_ROOT') ?: '/vol/cortex/cd4/geffenlab/raw_data'
    processed_data_root = System.getenv('PROCESSED_DATA_ROOT') ?: '/vol/cortex/cd4/geffenlab/processed_data'
    analysis_root = System.getenv('ANALYSIS_ROOT') ?: '/vol/cortex/cd4/geffenlab/analysis'
    experimenter = System.getenv('EXPERIMENTER') ?: 'BH'
    subject = System.getenv('SUBJECT_ID') ?: 'AS20-minimal3'
    date = System.getenv('DATE') ?: '03112025'
    ecephys_session_name = System.getenv('ECEPHYS_SESSION_NAME') ?: ''

    // Organize data in and analysis out by subject and date.
    raw_data_path = "${params.raw_data_root}/${params.experimenter}/${params.subject}/${params.date}"
    ecephys_path = "${params.raw_data_path}/ecephys/${params.ecephys_session_name}/"
    processed_data_path = "${params.processed_data_root}/${params.experimenter}/${params.subject}/${params.date}"
    analysis_path = "${params.analysis_root}/${params.experimenter}/${params.subject}/${params.date}"

    // Use 5 CPU cores at a time -- not all of them!
    n_jobs = 5

    // Use up to 128GB of memory at a time -- not all of it!
    memory = '128 GB'

    // Choose whether to do interactive Phy curation.
    // For CI testing we do everything else, but not the last interactive step.
    interactive = true

    // Choose the default GPU to use for Phy.
    // This may be a GPU index, like "0" or "3", or a GPU UUID as from "nvidia-smi -L".
    gpu_device = 3

    // Process data from "spikeglx" or "openephys"?
    input = "spikeglx"

    // Where should we look for AIND pipeline processing results?
    preprocessed_pattern = "sorted/${params.ecephys_session_name}/preprocessed/*.json"
    postprocessed_pattern = "sorted/${params.ecephys_session_name}/postprocessed/*.zarr"
    curated_pattern = "sorted/${params.ecephys_session_name}/curated/*/"

    // Params below are for SpikeGlx recordings, where we apply CatGT and TPrime.
    // These are not used when input == "openephys".

    // Should CatGT look for Neuropixels plus NIDQ ('-ap -ni') or just Neuropixels ('-ap')?
    catgt_streams = '-ap -ni'

    // Should CatGT expect OneBox ('-obx=0') or not (empty '')?
    catgt_onebox = ''

    // Which event channels should CatGT try extract?
    catgt_events = '-xa=0,0,0,1,3,500 -xia=0,0,1,3,3,0 -xd=0,0,8,3,0 -xid=0,0,-1,2,1.7 -xid=0,0,-1,3,5'

    // Specify any other CatGT command arguments.
    // Since we're not using CatGT to filter the binary, we need -no_tshift.
    catgt_misc = '-no_tshift -prb_fld -out_prb_fld'

    // Our CatGT Python wrapper takes the --probe-id, --run, --gate, and --trigger as separate args.
    // All the other CatGT args go together here.
    catgt_args = "${params.catgt_streams} ${params.catgt_onebox} ${params.catgt_events} ${params.catgt_misc}"

    // What sync pulse period should TPrime expect?
    tprime_sync_period = 1.0

    // What stream of sync events should TPrime convert to?
    // This pattern must match a sync event .txt within the catgt/ output subdirectory.
    //  - To align to NIDQ use a pattern lile this: tprime_to_stream = "*/*nidq.xd_8_4_500.txt"
    //  - To align to a probe use a pattern lile this: tprime_to_stream = "*/*/*.imec0.ap.*.txt"
    tprime_to_stream = "*/*/*.imec0.ap.*.txt"

    // Which other event streams should TPrime convert to the stream above?
    // Each pattern below must match an event .txt within the catgt/ output subdirectory.
    // The patterns on the left are for events that should be converted.
    // The patterns on the right are for sync events on the same stream.
    tprime_from_map = [
        "*/*nidq.xa_0_500.txt": "*/*nidq.xd_8_4_500.txt",
        "*/*nidq.xia_1_0.txt": "*/*nidq.xd_8_4_500.txt",
        "*/*nidq.xd_8_3_0.txt": "*/*nidq.xd_8_4_500.txt",
        "*/*nidq.xid_8_2_1p7.txt": "*/*nidq.xd_8_4_500.txt",
        "*/*nidq.xid_8_3_5.txt": "*/*nidq.xd_8_4_500.txt",
    ]

    // Format these "from streams" in the way our TPrime Python wrapper expects.
    tprime_from_streams = params.tprime_from_map.collect { other, sync -> "${sync}:${other}" }.join(' ')

    // Our TPrime Python wrapper can convert sorted spike times in the Phy folder(s) as well.
    // Which text file(s) contains the probe sync events produced by CatGT?
    // This pattern must match sync event .txt within the catgt/ output subdirectory.
    tprime_phy_from_pattern = "*/*/*.ap.*.txt"
}

// Run processes locally (not on AWS, SLURM, etc.)
process {
    executor = 'local'
    cpus = params.n_jobs
    memory = params.memory
}

// Run each process in a Docker container, as the current user (not as root).
docker {
    enabled = true

    // Let the container access the X11 display on cortex (this should work with remote desktop).
    runOptions = '-v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY'
}

dag {
    enabled = true
    file = "${params.processed_data_path}/logs/phy-export/${params.ecephys_session_name}/nextflow-dag.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.processed_data_path}/logs/phy-export/${params.ecephys_session_name}/nextflow-report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.processed_data_path}/logs/phy-export/${params.ecephys_session_name}/nextflow-timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.processed_data_path}/logs/phy-export/${params.ecephys_session_name}/nextflow-trace.txt"
    overwrite = true
}
